/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

body {
    font-size: 1.1rem;
    font-weight: normal;
    margin: 2em;
}


h1 {
    line-height: 1.3em;
    color: var(--in-content-text-color);

}
a {
    color: var(--in-content-link-color);
    text-decoration: none;
}

a:hover {
    color: var(--in-content-link-color-hover);
    text-decoration: underline;
}

a:visited {
    color: var(--in-content-link-color-visited);
}

a:hover:active {
    color: var(--in-content-link-color-active);
    text-decoration: none;
}

img {
    border-style: solid;
    border-width: 1px;
    border-color: var(--in-content-border-color);
    float: right;
}

img.icon {
    border-style: none;
    float: left;
    margin-right: 24px;
}