/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
    --in-content-page-color: rgb(21, 20, 26);
    --in-content-page-background: #fff;
    --in-content-text-color: var(--in-content-page-color);
    --in-content-accent-color: #0a84ff;
    --in-content-border-color: rgba(249,249,250,0.2);
    --in-content-link-color: var(--blue-60);
    --in-content-link-color-hover: var(--blue-70);
    --in-content-link-color-active: var(--blue-80);
    --in-content-link-color-visited: var(--blue-60);
    --in-content-primary-button-background: #0061e0;
    --in-content-primary-button-background-hover: #0250bb;
    --in-content-primary-button-background-active: #053e94;
    --blue-60: #0060df;
    --blue-70: #003eaa;
    --blue-80: #002275;
    --green-70: #058b00;

    accent-color: var(--in-content-accent-color);
    /*noinspection CssUnknownProperty*/
    color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
    :root {
        --in-content-page-background: rgb(35,34,43);
        --in-content-page-color: rgb(251,251,254);
        --in-content-border-color: #d7d7db;
        --in-content-primary-button-background: rgb(0,221,255);
        --in-content-primary-button-background-hover: rgb(128,235,255);
        --in-content-primary-button-background-active: rgb(170,242,255);
        --in-content-accent-color: var(--in-content-primary-button-background);
        --in-content-link-color: var(--in-content-primary-button-background);
        --in-content-link-color-hover: var(--in-content-primary-button-background-hover);
        --in-content-link-color-active: var(--in-content-primary-button-background-active);
        --in-content-link-color-visited: var(--in-content-link-color);
    }
}

@media (prefers-contrast) {
    :root {
        --in-content-page-color: WindowText;
        --in-content-accent-color: -moz-DialogText;
        --in-content-border-color: ThreeDShadow;

        --in-content-link-color: -moz-nativehyperlinktext;
        --in-content-link-color-hover: -moz-nativehyperlinktext;
        --in-content-link-color-active: -moz-nativehyperlinktext;
        --in-content-link-color-visited: -moz-nativehyperlinktext;

        --in-content-primary-button-background: ButtonText;
        --in-content-primary-button-background-hover: ButtonFace;
        --in-content-primary-button-background-active: ButtonFace;
    }
}

body {
    color: var(--in-content-page-color);
    background-color: var(--in-content-page-background);
    font: 1rem 'Fira Sans', sans-serif;
}