/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

body {
  flex-grow: 1;
  height: 250px;
}

fieldset {
  border-color: var(--in-content-border-color);
}

div#saved_message {
  font-weight: 900;
  font-size: xx-large;
  color: var(--green-70);
  visibility: hidden;
}

/*noinspection CssUnusedSymbol*/
div#saved_message.visible {
  visibility: visible;
}
